.blue-frame{
  position: fixed;
  top: 0;
  left: 0;
  height: 2vh;
  width: 100vw;
}
.blue-frame-bot{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2vh;
  width: 100vw;
}
.containerPicture{
  width: 45vw;
}
.container2Picture{
  background-image: url("./../image/nykcircle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91vh;
  max-width: 100vw;
  //opacity: 40%;
}
.container3Picture{
  background-image: url("./../image/lillafodsporSM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91vh;
  max-width: 100vw;
}

.loginKnap{
  background-color: #018AAE;
}

.container__infoboks{
  position: fixed;
  top: 15vh;
  left: 25vw;
  width: 60vw;
  max-width: 65vh;
  height: auto;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
}
.container__knap{
  position: fixed;
  bottom: 5vh;
  right: 15vw;
  background-color: #018AAE;
}

@media screen and (min-width:767px) {
  .container2Picture{
    height: 98vh;
    background-size: contain;
  }
  .container3Picture{
    background-size: contain;
    background-position: left;
    height: 98vh;
  }
  .container__infoboks{
    top: 30vh;
  }
  .loginKnap{
    font-size: 1.5rem;
  }
}