.blue-frame{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2vh;
  width: 100vw;
}
.containerPicture{
  width: 40vw;
}
.container2Picture{
  background-image: url("./../image/nykcircle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 88vh;
  max-width: 100vw;
  //opacity: 40%;
}
.loginKnap{

}